*~
auto-save-list
tramp
url
*.elc
.latest-build
ede-projects.el
elpa
url
var
elnode
projectile-bookmarks.eld
projectile.cache
eshell/*
notes
ido.last
.sx
ensime
bookmarks
newsticker
recentf
custom.el
magithub
quelpa
request
opam-user-setup.el
forge-database.sqlite
network-security.data
transient
nix-buffer
.lsp-session*
.cache
org-journal.cache
.dap-breakpoints
